*/build/
*/bin/
*/msg_gen/
*/srv_gen/
*~
*doc/
*.pyc
*/build
*/build/*
*/bin
*/bin/*
*/msg_gen
*/msg_gen/*
*/srv_gen
*/srv_gen/*
bags/*.bag
bags/*.txt
*.dox
girona500/perception_g500/src/perception_g500
girona500/perception_g500/src/perception_g500/*
girona500/perception_g500/src/control_g500
girona500/perception_g500/src/control_g500/*
girona500/perception_g500/src/navigation_g500
girona500/perception_g500/src/navigation_g500/* 
*.bak
bags/sensors_nav_quiet/
