girona500/safety_g500/src/safety_g500/msg/*.py
bags/*.csv
*/build/
*/bin/
*/msg_gen/
*/srv_gen/
*~
*doc/
*.pyc
*/build
*/build/*
*/bin
*/bin/*
*/msg_gen
*/msg_gen/*
*/srv_gen
*/srv_gen/*
bags/*.bag
bags/*.txt
*.dox
girona500/perception_g500/src/perception_g500
girona500/perception_g500/src/perception_g500/*
girona500/perception_g500/src/control_g500
girona500/perception_g500/src/control_g500/*
girona500/perception_g500/src/navigation_g500
girona500/perception_g500/src/navigation_g500/* 
*.bak
bags/sensors_nav_quiet/
cola2_common/auv_msgs/build/
cola2_common/auv_msgs/msg_gen/
cola2_common/auv_msgs/src/auv_msgs/msg/
cola2_common/auv_msgs/src/auv_msgs/srv/
cola2_common/auv_msgs/srv_gen/
cola2_common/cola2_lib/build/
girona500/control_g500/bin/
girona500/control_g500/build/
girona500/control_g500/msg_gen/
girona500/control_g500/src/control_g500/msg/
girona500/navigation_g500/bin/*
girona500/navigation_g500/build/
girona500/navigation_g500/msg_gen/
girona500/navigation_g500/src/navigation_g500/msg/
girona500/perception_g500/msg_gen/
girona500/perception_g500/bin/
girona500/perception_g500/build/
cola2_common/auv_msgs/msg/WorldWaypointReq*
girona500/safety_g500/build/
girona500/safety_g500/msg_gen/
girona500/safety_g500/srv_gen/
girona500/safety_g500/src/safety_g500/srv/
girona500/safety_g500/src/safety_g500/msg/
girona500/control_g500/src/control_g500/
girona500/navigation_g500/src/navigation_g500/
girona500/safety_g500/bin/
girona500/communication_g500/bin/
girona500/communication_g500/build/
girona500/communication_g500/msg_gen/
girona500/communication_g500/src/communication_g500/
