<launch>
	<arg name="enableUWSim" value="false" />
	<arg name="disableShaders" value="true" />
	<arg name="enableUWSimPandora" value="true" />
		

	<!-- Load simulation parameters -->
	<rosparam command="load" file="$(find navigation_g500)/config/dynamics_odin.yaml" />
	<rosparam command="load" file="$(find control_g500)/config/thruster_allocator_sim.yaml" />
	<rosparam command="load" file="$(find control_g500)/config/velocity_controller_sim.yaml" />	
	

	<!-- Run dynamics -->		
	<node name="dynamics" pkg="navigation_g500" type="dynamics.py" respawn="false"/>
	

	<group if="$(arg enableUWSim)">
		<group if="$(arg disableShaders)">
			<node name="UWSim" pkg="UWSim" type="UWSim" args="--disableShaders" respawn="false"/>
		</group>
		<group unless="$(arg disableShaders)">
			<node name="UWSim" pkg="UWSim" type="UWSim" respawn="false"/>
		</group>
	</group>
    	
	<group if="$(arg enableUWSimPandora)">
		<group if="$(arg disableShaders)">
			<node name="UWSim" pkg="UWSim" type="UWSim" args="--disableShaders --configfile $(find UWSim)/data/scenes/cirsPandora.xml" respawn="false"/>
		</group>
		<group unless="$(arg disableShaders)">
			<node name="UWSim" pkg="UWSim" type="UWSim" respawn="false"/>
		</group>
	</group>


	<!-- Run Control Stack -->
	<rosparam command="load" file="$(find control_g500)/config/joy_vel.yaml" />
	<node name="teleoperation_vel" pkg="control_g500" type="teleoperation_vel"/>
	<node name="thruster_allocator" pkg="control_g500" type="thruster_allocator.py"/>
	<node name="velocity_controller" pkg="control_g500" type="velocity_controller.py"/>
	<node name="merge_bvr" pkg="control_g500" type="merge_bvr.py"/>
	<node name="arm_controller_sim" pkg="control_g500" type="arm_controller_sim.py" output="screen"/>



	<!-- Run Navigation Stack -->
	<rosparam command="load" file="$(find navigation_g500)/config/localization.yaml" />
	<node name="localization" pkg="navigation_g500" type="localization.py"/>


	<!-- Load Keyboard -->
	<node name="keyboard_vel" pkg="control_g500" type="keyboard_vel" />
    	
</launch>

